<div class="container-sm shadow-lg">
<br>
<h2>Features</h2>
  <div class="card text-dark bg-light mb-3">
  <% plans = @usage&.subscribe.plan %>
  <% plans.features.each do |feature|  %>
    <div class="card-header">
        <p>
          <strong>Name:</strong>
          <%= feature.name %>
        </p>
      </div>
      <div class="card-body">
        <p>
          <strong>Code:</strong>
          <%= feature.code %>
        </p>
      </div>
      <div class="card-body">
        <p>
          <strong>Unit Price:</strong>
          <%= feature.unit_price %>
        </p>
      </div>
      <div class="card-body">
        <p>
          <strong>Max Unit Limit:</strong>
          <%= feature.max_unit_limit %>
        </p>
      </div>
  <% end %>
  </div>
  <br>
</div>
