<h2>Features</h2>
  <p>
    <strong>Name:</strong>
    <%= @usage.feature.name %>
  </p>

  <p>
    <strong>code:</strong>
    <%= @usage.feature.code %>
  </p>

  <p>
    <strong>unit_price:</strong>
    <%= @usage.feature.unit_price %>
  </p>

  <p>
    <strong>max_unit_limit:</strong>
    <%= @usage.feature.max_unit_limit %>
  </p>
