<div class="container-sm shadow-lg">
  <h1>Editing Plan</h1>

  <%= render 'shared/form', plan: @plan %>
  <p>
    <%= link_to 'Show', @plan, class:"btn btn-dark" %> |
    <%= link_to 'Back', plans_path, class:"btn btn-dark" %>
  </p>
  <br>
</div>
